app_name: Goermis
app_version: 0.0.1
app_env: dev

dev:
  adapter: --change--
  database:--change--
  username: --change--
  password: --change--
  host: 127.0.0.1    #defaults to 127.0.0.1
  port: 3306  #Default for MariaDB only
  idle_conns: 10
  open_conns: 100
  sslmode: disable

  goermiscert: --change--
  goermiskey: --change--
  

  soap_user: --change--
  soap_password: --change--
  soap_keyname_e: --change--
  soap_keyname_i: --change--
  soap_url: --change--
  logging_file: --change--
  
