app:
   app_name:       --change--  
   app_version:    --change--
   app_env:        --change--

database:
   adapter:        --change--
   database:       --change--
   username:       --change--
   password:       --change--
   host:           --change--
   port:           --change--  
   idle_conns:     --change--
   open_conns:     --change--
   #in minutes
   max_idle_time:  --change--
   conn_max_lifetime: --change--
   sslmode: disable

soap:   
   soap_user:      --change--
   soap_password:  --change--
   soap_keyname_e: --change--
   soap_keyname_i: --change--
   soap_url:       --change--
certs:
   ermis_cert:     --change--
   ermis_key:      --change--
   host_cert:      --change--
   host_key:       --change--
   ca_cert:        --change--
log:  
  logging_file:    --change--
  stdout:          --change-- 
dns:
  manager:         --change--  
timers:
  #in minutes
  alarms:         --change--  #frequency of alarms checking
teigi:
  host:           --change-- #the hostname that runs goermis and has access to tbag
  service:        --change-- #tbag service
  ssltbag:        --change-- #API of tbag that accepts GET method via SSL
  krbtbag:        --change-- #API of tbag that accepts POST method via krb
  pwn:            --change-- #API of pwn

  

  
