<table border="0" id="alias">
  <tr>
     <td class="left"><div class="form-item webform-component webform-component-textfield" id="webform-component-alias-name">
  <label for="edit-submitted-alias-name">LB Alias name <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="edit-submitted-alias-name" name="submitted[alias_name]" value="" size="60" maxlength="128" class="form-text required" />
</div>
     <div class="form-item webform-component webform-component-markup" id="webform-component-namestatus">
 <div id="NameStatus"></div>

</div>
</td>
  </tr>
</table>

