{{define "external.html"}}
<table border="0" id="externalTable">
  <tr>
     <td class="first"><div class="form-item webform-component webform-component-radios" id="webform-component-external">
  <label for="edit-submitted-external">External <span class="form-required" title="This field is required.">*</span></label>
 <div id="edit-submitted-external" class="form-radios"><div class="form-item form-type-radio form-item-submitted-external">
 <input type="radio" id="edit-submitted-external-1" name="external" value="yes" class="form-radio" />  <label class="option" for="edit-submitted-external-1">Yes </label>

</div>
<div class="form-item form-type-radio form-item-submitted-external">
 <input type="radio" id="edit-submitted-external-2" name="external" value="no" class="form-radio" />  <label class="option" for="edit-submitted-external-2">No </label>

</div>
</div>
</div>
</td>
     <td><div class="form-item webform-component webform-component-markup" id="webform-component-visibilitystatus">
 <p><span id="VisibilityStatus"></span></p>

</div>
</td>
  </tr>
</table>

{{end}}