{{define "hostgroup.html"}}
<div class="form-item webform-component webform-component-textfield" id="webform-component-hostgroup">
    <label for="edit-submitted-hostgroup">Hostgroup <span class="form-required" title="This field is required.">*</span></label>
     <input type="text" id="edit-submitted-hostgroup" name="hostgroup" value="" size="60" maxlength="128" class="form-text required" />
   </div>
   <div class="form-item webform-component webform-component-markup" id="webform-component-hostgroupstatus">

</div>

{{end}}