[Unit]
Description=ermis
After=network.target
ConditionPathExists=/usr/sbin/ermis
ConditionPathExists=/var/lib/ermis/templates	

[Service]
Type=simple
ExecStart=/usr/sbin/ermis -config=/usr/local/etc/goermis.yaml -home=/var/lib/ermis/
Restart=always
RestartSec=10
User=root
Group=root

[Install]
WantedBy=multi-user.target

