[Unit]
Description=Goermis
After=network.target
ConditionPathExists=/root/go/bin/goermis
ConditionPathExists=/root/go/src/gitlab.cern.ch/lb-experts/goermis/templates	

[Service]
Type=simple
ExecStart=/root/go/bin/goermis  -config=/usr/local/etc/  -home=/root/go/src/gitlab.cern.ch/lb-experts/goermis/   
Restart=always
RestartSec=10
User=root
Group= root

[Install]
WantedBy=multi-user.target

