@charset "utf-8";

#main {

	background-color: #CAD1C8;

	width: 70%;
	
	height: 100%;
	
	margin-right: auto;

	margin-left: auto;
}

#main #p1 {

	margin-top: 0px;

	margin-right: auto;

	margin-bottom: auto;

	margin-left: auto;

	left: auto;

	right: auto;

	text-align: center;

	width: 30em;

	height: 4em;

	border-radius: 20%;

	background-color: #97C1E4;

	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;

	top: 0px;

}

#main #select {

	margin-left: auto;

	margin-right: auto;

}

#main #action {

	margin-left: auto;

	margin-right: auto;

	left: 0px;

	height: auto;

	text-align: center;

	width: 38%;

}

#main #action #alias {

	margin-left: 0em;

	margin-right: 0%;

}

#main #action #choices {

	text-align: left;

	left: 0px;

	margin-left: 20%;

	margin-right: auto;

}

#main #action .oninsert {

	text-align: center;

}
